---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getEntry } from 'astro:content';

const home = await getEntry('pages', 'home');
const { Content } = await home.render();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="me" href="https://github.com/yourusername" />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="h-card u-uid full mt-8">
			<div class="prose"><Content /></div>
			<a href="https://example.com" rel="me" class="u-url u-uid hidden">https://example.com</a>
			<span class="hidden p-given-name"></span>
			<div class="hidden p-org"></div>
			<div class="hidden p-country-name">/div>
		</main>
		<Footer />
	</body>
</html>
